<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDitJDtVly7MTxg7D83UL5_Mz4l5cRRoV0</string>
	<key>GCM_SENDER_ID</key>
	<string>706147875128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.config</string>
	<key>PROJECT_ID</key>
	<string>ipf-app-son</string>
	<key>STORAGE_BUCKET</key>
	<string>ipf-app-son.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706147875128:ios:0061ed08e1909e370ea9cd</string>
</dict>
</plist>